#titolo {font-family:arial;
font-weight:bold;
text-align:center;
color:white;
background-color:blue;
font-size:22px;
height:60px;}
#elenco {border:1px solid red;
	position:absolute;
	left:10px;
	top:80px;
	width:20%;
	height:80%;
	font-size:18px;} 
#contenuto {color:white;
	background-color:lightgrey;
	margin:0px 20px 0px 25px;
	position:absolute;
	right:-10px;
	top:80px;
	width:75%;
	height:80%}
H2 {color:blue;
	font-weight:bold;
	font-family:arial;
	font-size:20px;}
P {font-size:18px;}
#footer {height:30px;
	font-size:18px;
	text-align:center;
	color:white;
	background-color:lightgrey;
	font-weight:bold;
	font-family:arial;
	position:absolute;
	top:93%;
	width:98%;}
